@model ShoppingCartViewModel

<a class="nav-link notification" asp-controller="ShoppingCart" asp-action="Index" asp-area="">
    <i class="fas fa-shopping-basket"></i>

    @if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
    {
        <span class="badge">@Model.ShoppingCart.ShoppingCartItems.Count</span>
    }
</a>