@model AddRoleViewModel

@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Role</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <partial name="PartialViewsForManagement/_PartialViewFooterCreate" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
