            <a class="btn btn-secondary text-white" asp-action="Index" accesskey="b">
                <i class="fas fa-hand-point-left"></i> <u>B</u>ack to list
            </a>
            <button type="submit" class="btn btn-danger text-white" accesskey="c">
                <i class="fas fa-edit"></i> <u>C</u>reate
            </button>

